<div class="container">
<h1>Stupid Coaching</h1>

<blockquote class="you">
<p><%= @question%></p>
<cite>- You</cite>
</blockquote>

<blockquote class="coach">
<% if @answer == "Great!" %>
<p><%= @answer%></p>
<img src="../assets/belichick.jpg" alt="happy coach">
<% else %>
<p><%= @answer%></p>
<img src="../assets/images.jpeg" alt="angry coach">
<% end %>
<cite>- Your Coach</cite>
</blockquote>

<button type="button" class="btn btn-outline-primary btn-lg">
<%= link_to "Ask another question", ask_path %>
</button>
</div>
