<div class="container">
<h1>Stupid Coach</h1>
<h3>Go ahead, talk to your coach:</h3>

<form action="/answer" method="get" class="form-inline">
<div class="input-group input-group-lg">
  <input type="text" name="question" class="form-control" placeholder="Type your question here">
  <span class="input-group-btn">
  <input type="submit" value="Ask!" class="btn btn-primary btn-lg">
  </span>
  </div>
  <div class="coach-photo">
  <img src="../assets/images.jpeg" alt="angry coach">
  </div>
</form>
</div>
